<a href="https://colab.research.google.com/github/maiaroberto/NextSchool/blob/main/Maia_%5BE%5D_Aula_04_Vetores_e_Estruturas_de_Repeti%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://www.cesar.school/wp-content/uploads/2019/09/marca_cesar_school.png" alt="drawing" width="200"/>

# Python - **Aula 04**

---

- Vetores
- Estruturas de Repetição

# Vetores


Variáveis são incríveis, mas as vezes você precisa de mais:
- Lista de filmes que você que assistir;
- Lista de compras no supermercado;
- Lista de convidados em uma festa;

Para todos esses casos é difícil dizer com precisão quantas variáveis precisariam ser criadas. Neste caso podemos usar uma estrutura de dados chamada **lista** (ou *array*).

Listas também são usadas quando desejamos agrupar vários valores de um mesmo contexto:
- Notas dos estudantes de uma turma;
- Catálogo de livros em uma biblioteca;

Nesses casos, a quantidade não é o mais importante, mas sim a facilidade de ter agrupado valores de um mesmo tipo.

## Listas

### Tipo `list`

> Coleções de itens em uma orgem específica.
> *Ex.: Letras do alfabeto, números de 0 a 100, produtos de um supermercado...*

# Criando uma lista

Listas são criadas de forma semelhate ao de uma variável comum, mas a ela é atribuída valores diversos, usando colchetes `[]`

In [8]:
# Lista de convidados
lista = ['Jose', 'Lucas', 'Ana', 'Enzo', 'Valentina']
print(lista)
print(type(lista))
convidados = 'Jose,Lucas,Ana,Enzo,Valentina'.split(',')
print(convidados)
print(type(convidados))
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(numeros)
print(type(numeros))
print(type(numeros[-1]))

['Jose', 'Lucas', 'Ana', 'Enzo', 'Valentina']
<class 'list'>
['Jose', 'Lucas', 'Ana', 'Enzo', 'Valentina']
<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>
<class 'int'>

# Exibindo uma lista

Como listas são coleções ordenadas, é possível acessar qualquer um dos seus itens armazenados se você indicar a posição (índice) deles.

> Obs.: Os índices sempre começam a ser contados do 0.

![image.png]()

In [10]:
convidados = ['José', 'Lucas', 'Ana', 'Enzo', 'Valentina']

# primeiro elemento
print(convidados[0])

# segundo elemento
print(convidados[1])

# último elemento
print(convidados[-1])

# penúltimo elemento
print(convidados[-2][0]) # primeira letra do penúltimo elemento

José
Lucas
Valentina
E

# Alterando uma lista

Em Python, **listas são dinâmicas**, ou seja, é possível alterar seus valores.

In [12]:
# substituindo o primeiro convidado
convidados = ['José', 'Lucas', 'Ana', 'Enzo', 'Valentina']
convidados[0] = 'Roberto'
print(convidados)

['Roberto', 'Lucas', 'Ana', 'Enzo', 'Valentina']

# Acrescentando e removendo itens

As listas podem crescer ou diminuir com o tempo, por isso, é importante aprender como adicionar e remover elementos.

## Concatenando no final da lista

`append(elem)`

In [14]:
convidados = ['José', 'Lucas', 'Ana', 'Enzo', 'Valentina']
convidados.append('Maia')
print(convidados)

['José', 'Lucas', 'Ana', 'Enzo', 'Valentina', 'Maia']

## Adicionando em qualquer posição

`insert(pos, elem)`

In [15]:
convidados = ['José', 'Lucas', 'Ana', 'Enzo', 'Valentina']
convidados.insert(0,'Neto')
print(convidados)

['Neto', 'José', 'Lucas', 'Ana', 'Enzo', 'Valentina']


## Removendo um elemento específico

`del(lista[pos])`

In [16]:
del(convidados[0])
print(convidados)

['José', 'Lucas', 'Ana', 'Enzo', 'Valentina']

## Removendo o último elemento (ou algum elemento por posição)

`elem_removido = lista.pop()`

`elem_removido = lista.pop(pos)`

In [17]:
convidados = ['José', 'Lucas', 'Ana', 'Enzo', 'Valentina']
convidados.pop()
print(convidados)

['José', 'Lucas', 'Ana', 'Enzo']

In [18]:
convidados = ['José', 'Lucas', 'Ana', 'Enzo', 'Valentina']
convidados.pop(0)
print(convidados)

['Lucas', 'Ana', 'Enzo', 'Valentina']

## Removendo elemento por busca

`lista.remove(elem)`

In [21]:
convidados = ['José', 'Lucas', 'Ana', 'Enzo', 'Valentina']
print(convidados)
convidados.remove('Ana')  # se o elemento não existir ocorre um erro ValueError: list.remove(x): x not in list
print(convidados)

['José', 'Lucas', 'Ana', 'Enzo', 'Valentina']
['José', 'Lucas', 'Enzo', 'Valentina']

# Organizando listas

Muitas vezes, é necessário ter as lista ordenadas. Quando uma lista é extaída a partir da entrada de um usuário, é comum que ela venha fora de ordem.

## Ordem alfabética (definitiva)

```
lista.sort()
```

```python
lista.sort(reverse=True)
```

> Obs.: *Desta forma, a lista é modificada*

In [25]:
convidados = ['José', 'Lucas', 'Ana', 'Enzo', 'Valentina']
convidados.sort()
print(convidados)
convidados.sort(reverse=True) # modifica a lista, mas não retorna ela ordenada, não da para usar direto no print
print(convidados)

['Ana', 'Enzo', 'José', 'Lucas', 'Valentina']
['Valentina', 'Lucas', 'José', 'Enzo', 'Ana']

## Ordem alfabética (visualização)

```python
nova_lista = sorted(lista)
```

```python
nova_lista = sorted(lista, reverse=True)
```

> Obs.: Tanto a função `sort()` quanto a `sorted()` só ordenam listas que tenham números ou strings, mas não ambos ao mesmo tempo. Para isso, seria necessário usar a função `str()` para converter os números em strings.

In [27]:
# Sort modifica a lista em si, enquant o Sorted retorna  uma nova lista. 
convidados = ['José', 'Lucas', 'Ana', 'Enzo', 'Valentina']
print(sorted(convidados, reverse=True))
print(convidados)

['Valentina', 'Lucas', 'José', 'Enzo', 'Ana']
['José', 'Lucas', 'Ana', 'Enzo', 'Valentina']

## Invertendo a ordem de inserção

```python
lista.reverse()
```

In [32]:
convidados = ['José', 'Lucas', 'Ana', 'Enzo', 'Valentina']
convidados.reverse()
print(convidados)

numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9]
numeros.reverse()
print(numeros)

['Valentina', 'Enzo', 'Ana', 'Lucas', 'José']
[9, 8, 7, 6, 5, 4, 3, 2, 1]

# Outros métodos úteis

In [38]:
convidados = ['José', 'Lucas', 'Ana', 'Enzo', 'Valentina']

# tamanho de uma lista
print(len(convidados))

# criar lista de números
print(list(range(5, 11)))

# menor valor da lista
n = [10, 12, 3, 4, 11, 76, 1]
print(min(n))

# maior valor da lista
print(max(n))

# fatia de uma lista
print(n[1:3])

# criar uma cópia de uma lista
b = n   # São a mesma lista
c = n[:] # agora sim é uma copia
print(b)
print(c)

# somar todos os elementos de uma lista (números)
print(n)
x = sum(n)
print(x)
print(numeros)
print(sum(numeros[:5]))

5
[5, 6, 7, 8, 9, 10]
1
76
[12, 3]
[10, 12, 3, 4, 11, 76, 1]
[10, 12, 3, 4, 11, 76, 1]
[10, 12, 3, 4, 11, 76, 1]
117
[9, 8, 7, 6, 5, 4, 3, 2, 1]
35

# Estruturas de Repetição

Em Python, é possível controlar o fluxo de execução de um código com estruturas de repetição

In [39]:
lista = ['item1', 'item2', 'item3', 'item4', 'item5']

print(lista[0] + ' é um item dessa lista')
print(lista[1] + ' é um item dessa lista')
print(lista[2] + ' é um item dessa lista')
print(lista[3] + ' é um item dessa lista')
print(lista[4] + ' é um item dessa lista')

item1 é um item dessa lista
item2 é um item dessa lista
item3 é um item dessa lista
item4 é um item dessa lista
item5 é um item dessa lista

## `For`

Essa estrutura é um iterador, ou seja, ele percorre itens que estão em sequência, tais como listas ou strings.



```python
for item in objeto:
  # código que vai repetir
```

In [45]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for numero in numeros[:4:-1]:
    print(numero)

10
9
8
7
6

In [46]:
#range(1, 100)
for i in range(1,10,2):
    print(i)

for _ in range(1,3):
    print('oi...')

1
3
5
7
9
oi...
oi...

In [48]:
if (True or  # Duvida da aula passada sobre a identação em um if
    True or
    False):
   print('aqui')

aqui

In [49]:
numero = []
for _ in range(5):
   numero.append(int(input('Digite numero: ')))
print(numero)

Digite numero: 1
Digite numero: 3
Digite numero: 5
Digite numero: 7
Digite numero: 9
[1, 3, 5, 7, 9]

In [53]:
# if
# Exibir todos os números pares contidos de 1 a 100
for x in range(2,101,2): #[::2]:
      print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
# string
for c in 'Roberto':
    print(c)

R
o
b
e
r
t
o

## While

Essa estrutura permite repetir um trecho de código enquanto uma condição for verdadeira



```python
while condição:
  # código que vai repetir
```

In [54]:
n = 1
while n <= 5:
   print(n)
   n += 1

1
2
3
4
5

In [55]:
# Exibir um número x, até que a soma de todos os números exibidos seja 100
soma = x = 0
while soma < 100:
    soma += x
    x += 1
    print(soma)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105

In [ ]:
# else

## Break, continue, pass

- `break`: Para um loop
- `continue`: Vai para o próximo loop
- `pass`: não faz nada



```python
while condição:
  # código
  if teste1:
    break
  if teste2:
    continue
  else:
    pass
```

In [61]:
x = 0
while True:
  print('No while')
  if x == 0:
     x += 1
     print('continue')
     continue
  if x == 1:
     x += 1
     print('pass')
     pass   
  if True:
     print('true')
     break
print('End')

No while
continue
No while
pass
true
End

In [65]:
'''
Imagine que você tem um problema no qual precisa somar todos os números
múltiplos de 3 até 1000, ou até a soma ultrapassar 300. Se caso o número
seja múltiplo de 3 deve ser exibido "Buscando...". Mas caso o número seja
múltiplo de 5, nada deve ser exibido.
'''

soma = 0
x = 0

while soma < 300: # True: # x < 1000:
  x += 1

  if (x % 3) == 0:
    print(x)
    soma += x
  else:
    if (x % 5) == 0:
      pass
    else:
      print('Buscando...')
      continue
  
  if soma > 300:
    print(soma)
    break

Buscando...
Buscando...
3
Buscando...
6
Buscando...
Buscando...
9
Buscando...
12
Buscando...
Buscando...
15
Buscando...
Buscando...
18
Buscando...
21
Buscando...
Buscando...
24
Buscando...
27
Buscando...
Buscando...
30
Buscando...
Buscando...
33
Buscando...
36
Buscando...
Buscando...
39
Buscando...
42
315

# Exercícios Fundamentais

1. Faça um programa que leia 5 números e informe o maior número.

In [75]:
numeros = []
for numero in range(1,6):
     numeros.append(float(input('Digite um número: ')))
print(f'O maior número digitado foi {max(numeros)}')

Digite um número: 1
Digite um número: 2
Digite um número: 3
Digite um número: 4
Digite um número: 5
O maior número digitado foi 5.0

2. Crie uma lista de locais que você gostaria de conhecer no mundo, na ordem do local que você dá mais prioridade pra o local que você dá menos prioridade. Exiba a lista nas seguintes configurações:

a) ordem original<br/>
b) ordem alfabética<br/>
c) ordem de prioridades inversa<br/>
d) quantidade de itens

In [92]:
locais = 'Nova York,Paris,Londres,Bali,Compostela,Ushuaia,Terra Del Fogo,Jerusalem,Marrocos,Egito'.split(',')
print(f'Ordem original           : {locais}')
print(f'Ordem alfabética         : {sorted(locais)}')
print(f'Ordemm prioridade inversa: {locais[::-1]}')
print(f'Meus \"{len(locais)}\" Locais desejados ')

Ordem original           : ['Nova York', 'Paris', 'Londres', 'Bali', 'Compostela', 'Ushuaia', 'Terra Del Fogo', 'Jerusalem', 'Marrocos', 'Egito']
Ordem alfabética         : ['Bali', 'Compostela', 'Egito', 'Jerusalem', 'Londres', 'Marrocos', 'Nova York', 'Paris', 'Terra Del Fogo', 'Ushuaia']
Ordemm prioridade inversa: ['Egito', 'Marrocos', 'Jerusalem', 'Terra Del Fogo', 'Ushuaia', 'Compostela', 'Bali', 'Londres', 'Paris', 'Nova York']
Meus "10" Locais desejados

3. Crie uma lista com os preços dos jogos que você mais gosta.

a) Imprima o preço mais caro;<br/>
b) Imprima o preço mais barato.

In [15]:
os.system('cls') # 

jogos = []
precos = []
while True:
      jogo = input('Digite um jogo que goste: ')
      preco = float(input('Digite valor do Jogo  R$: '))
      jogos.append(jogo)
      precos.append(preco)
      if input('Continua ? ').upper() == 'N':
         break

indCaro = precos.index(max(precos))
indBarato = precos.index(min(precos))

print(f'O jogo \"{jogos[indCaro]}\" é o mais caro e custa R$ {precos[indCaro]:.2f}')
print(f'O jogo \"{jogos[indBarato]}\" é o mais barato e custa R$ {precos[indBarato]:.2f}')

Digite um jogo que goste: Xadrez
Digite valor do Jogo  R$: 10.50
Continua ? Damas
Digite um jogo que goste: Damas
Digite valor do Jogo  R$: 11.75
Continua ? n
O jogo "Damas" é o mais caro e custa R$ 11.75
O jogo "Xadrez" é o mais barato e custa R$ 10.50

4. escrever um programa em Python que leia um vetor V1 de n posições e gere um vetor V2 de tamanho n que é o vetor V1 invertido.

In [45]:
v1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
v2 = sorted(v1, reverse=True)
print(v1)
print(v2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

5. Faça um programa que imprima na tela apenas os números ímpares entre 1 e 50.

In [107]:
print(f'Números ímpares de 1 a 50: {list(range(1,50,2))}')

Números ímpares de 1 a 50: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

6. Faça um programa que recebe um número de 1 a 10 do usuário e imprime a tabuada de multiplicação desse número

In [58]:
numero = int(input('Digite um número de 1 a 10: '))
if numero > 0 and numero < 11:
   for x in range(1,11):
       print(f'{x:2.0f} x {numero} = {x * numero:2.0f}')

Digite um número de 1 a 10: 7
 1 x 7 =  7
 2 x 7 = 14
 3 x 7 = 21
 4 x 7 = 28
 5 x 7 = 35
 6 x 7 = 42
 7 x 7 = 49
 8 x 7 = 56
 9 x 7 = 63
10 x 7 = 70

7. Faça um programa que recebe do usuário 10 valores de números inteiros, armazena em um vetor e apos percorre-lo exibe qual é o maior valor e a sua posição.

In [70]:
numeros = []

for numero in range(1,11):
    numeros.append(int(input('Digite um numero: ')))

print(f'\nO Maior valor digitado foi \"{max(numeros)}\" é ele foi o \"{numeros.index(max(numeros))+1}°\" digitado.')
#print(f'O jogo \"{jogos[indBarato]}\" é o mais barato e custa R$ {precos[indBarato]:.2f}')

Digite um numero: 100
Digite um numero: 2
Digite um numero: 2
Digite um numero: 2
Digite um numero: 2
Digite um numero: 2
Digite um numero: 2
Digite um numero: 777
Digite um numero: 8
Digite um numero: 9

O Maior valor digitado foi "777" é ele foi o "8°" digitado.

# Exercícios de Aprofundamento

1. Faça um programa que peça uma nota, entre zero e dez. Mostre uma mensagem caso o valor seja inválido e continue pedindo até que o usuário informe um valor válido.

In [79]:
while True:
    nota = int(input('Digite uma nota de zero a dez: '))
    if nota < 0 or nota > 10:
       print('Nota invalida, tente novamente!') 
    else: 
       break
print(f'A nota digitada foi \"{nota}\".')

Digite uma nota de zero a dez: 11
Nota invalida, tente novamente!
Digite uma nota de zero a dez: 7
A nota digitada foi "7".

2. Faça um programa que leia um nome de usuário e a sua senha e não aceite a senha igual ao nome do usuário, mostrando uma mensagem de erro e voltando a pedir as informações.

In [86]:
while True:
    nome = input('Digite o nome de usuário: ')
    senha = input('Digite a sua senha: ')
    if nome == senha:
       print('Erro, nome igual a senha! Tente novamente!') 
    else: 
       break

Digite o nome de usuário: Maia
Digite a sua senha: Maia
Erro, nome igual a senha! Tente novamente!
Digite o nome de usuário: Roberto
Digite a sua senha: Maia

3. Encontrar números primos é uma tarefa difícil. Faça um programa que gera uma lista dos números primos existentes entre 1 e um número inteiro informado pelo usuário.

In [101]:
limite = int(input('Digite o numero : '))
primos = []
a = 0
while (a <= limite): 
    resto = 0
    for x in range(2,a):
        if (a % x == 0):
            resto += 1
        
    if resto == 0:
        primos.append(a)
    a += 1    
print(primos)

Digite o numero : 150
[0, 1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149]

4. Faça um programa que calcule o mostre a média aritmética de N notas.

In [113]:
notas = [69, 70, 55, 44]
media = sum(notas) / len(notas)
print(f'A média das {len(notas)} notas é \"{media:.2f}\"')

A média das 4 notas é "59.50"